<table class="table table-hover dataTable" id="tblFormation">
  <!--START HEADER TABLE-->
  <thead>
    <tr class="bg-custom-primary">
      <th width="3%">
        <input id="js-check-all" class="js-checkbox-all checkbox" type="checkbox">
      </th>
      <th width="35%">
        <%= __('Name') %>
      </th>
      <th width="30%">
        <%= __('Description') %>
      </th>
      <th width="8%">
        <%= __('Status') %>
      </th>
      <th width="3%">
          <%= __('') %>
      </th>
    </tr>
  </thead>
  <!--END HEADER TABLE-->
</table>
