<!-- Page -->
<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12">
      <%- partial('./_form.ejs') %>
  </div>
</div>
<% block('localScripts', '<script src="/js/backend/superAdmin/form-school-admin.js"></script>') %>  
