<!-- Page -->
<% let BACKEND = sails.config.custom.BACKEND %>
<div class="page">
  <!-- Page Content -->
  <div class="page-content container-fluid">
      <div class="row">
          <%- partial('./form-profile.ejs') %>
      </div>
  </div>
</div>
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/account/index.js"></script>') %>
<% block('localScripts', '<script src="/js/initDropify.js"></script>') %> 

