<!-- Page -->
<div class="installation" style="background-image:url(/images/guest.jpg);">
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12">
        <%- partial('./_form-school.ejs') %>
    </div>
  </div>
</div>
<% block('localScripts', '<script src="/js/backend/installation/form-school.js"></script>') %>  