<!--====== SUB START ======-->
<section class="page_banner bg_cover" style="background-image: url(/images/top_bg.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="banner_content">
                  <%if(webModule.headline){%>
                  <ul class="breadcrumb">
                      <li><a href="/"> <%= __('Home') %></a></li>
                      <li><a class="active" href="javascript:;"><%=webModule.headline%></a></li>
                  </ul>
                  <%}%>
              </div>
          </div>
      </div>
  </div>
</section>

<!--====== SUB ENDS ======-->