<!-- summernote Editor -->
<% block('localCss', '<link rel="stylesheet" href="/vendors/summernote/summernote-bs4.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">') %>
<% block('localCss', '<link rel="stylesheet" href="/vendors/bootstrap-daterangepicker/daterangepicker.css">') %>

<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12 ">
    <div class="card">
      <div class="card-body">
        <%- partial('./_form') %>
      </div>
    </div>
  </div>
</div>  
<!-- summernote Editor --> 
<% block('localScripts', '<script type="text/javascript" src="/vendors/summernote/summernote-bs4.js"></script>') %>
<% block('localScripts', '<script src="/vendors/moment/moment.min.js"></script>') %>
<% block('localScripts', '<script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>') %>
<% block('localScripts', '<script src="/vendors/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>') %>
<% block('localScripts', '<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>') %>
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/event/form.js"></script>') %>