<div class="card-body inbox-panel"><a href="/backend/feedback/new" class="btn btn-danger m-b-20 p-10 btn-block waves-effect waves-light"><%= __('Compose')%></a>
  <ul class="list-group list-group-full">
      <li class="list-group-item active"> <a href="/backend/feedback"><%= __('Inbox')%> </a></li>
  </ul>
</div>