<!-- summernote Editor -->
<% block('localCss', '<link rel="stylesheet" href="/vendors/summernote/summernote-bs4.css">') %>

<div class="row">
  <div class="col-xxl-12 col-xl-12 col-lg-12 ">
    <div class="card">
      <div class="card-body">
        <%- partial('./_form') %>
      </div>
    </div>
  </div>
</div>  
<!-- summernote Editor --> 
<% block('localScripts', '<script type="text/javascript" src="/vendors/summernote/summernote-bs4.js"></script>') %> 
<!-- Script handler -->
<% block('localScripts', '<script src="/vendors/sweetalert/sweetalert.min.js"></script>') %>
<% block('localScripts', '<script src="/js/backend/page/index.js"></script>') %>