<table class="table table-hover dataTable" id="tblMedia">
  <thead>
    <tr>
      <th><input class="js-checkbox-all" type="checkbox"></th>
      <th width="20%"><%= __('Title') %></th>
      <th width="20%"><%= __('Description') %></th>
    </tr>
  </thead>
</table>